.btn {
    width:auto;
    height: auto;
    background-color: transparent;
    padding:10px 20px;
}
.btn-accent {
    background-color: $foliage;
    color:$page_background;
    &:hover {
        background-color: darken($foliage, 10%);
        color:darken($page_background, 10%);
        transition: ease all .2s;
    }
}
