.horizontal-cta {
    background-color: $foliage;

    height:auto;
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    color: $page_background;
    .overlay {
        position: absolute;
        z-index: 2;

        height:100%;
        width:100%;
        margin:0;
        padding:0;

        background-color: rgba(0,0,0,0.5);
    }
    h2 {
        .fa-user-check {
            margin-left: 20px;
            font-size: 80px;
            margin-bottom: 50px;
        }
        z-index: 3;
        text-align: center;
        color:$page_background;
        line-height: 110%;
        padding:20px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .internal {
        min-height: 200px;
        width: 100%;
        z-index: 3;
        text-align: left;
        margin:20px 40px 60px;
        input {
            width: 90%;
            border: none;
            max-width: 500px;
            padding: 10px 20px;
            margin: 0 auto;
            display: block;
        }
        .btn {
            display: inline-block;
            margin-top:20px;
        }
    }
}


.stats-cta {
    background-color: #f8f8f8;
    padding: 30px 0 60px;
    i {
        font-size: 40px;
        display: block;
        width:auto;
        text-align:center;
        margin:20px 0;
        color: $foliage;
    }
    span {
        display: block;
        text-align: center;
        font-size: 40px;
        span {
            margin-top: 10px;
            font-size: 30px;
            color:$stone;
        }
    }
}
