.vertical-cta {
    display: flex;
    width:100%;
    background-color: #fff;
    @media screen and(max-width: 750px) {
        flex-wrap: wrap;
    }

    .cta {
        cursor: pointer;
        background-color: #f8f8f8;
        width:25%;
        height:300px;
        padding:20px 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        border:1px $page_font solid;
        transition: ease width .3s;
        position: relative;
        &:before{
            content:'';
            background-color: $mist;
            position: absolute;
            width:100%;
            height:20px;
            top:0;
        }
        &:nth-of-type(even) {
            &:before {
                background-color: $stone;
            }
        }
        .cta-title {
            margin: 0 auto;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            i {
                margin-top: -20px;
                font-size: 40px;
                margin-bottom:20px;
            }
        }
        .cta-content{
            width: 0;
            height:0;
            overflow:hidden;
        }
        &.open {
            display: flex;
            flex-wrap: wrap;
            transition: ease width .3s;
            width: 100%;
            
            .cta-title {
                transition: ease transform, font-size .3s;
                transform: rotate(0deg);
                font-size:20px;
                margin:15px auto 15px;
                i {
                    margin-top:0;
                    margin-bottom:5px;
                }
            }
            .cta-content {
                margin: 0 40px;
                width: 100%;
                height: 100%;
                transition: ease all .3s;
                overflow: initial;
            }
        }
    }
    @media only screen and (max-width: 750px) {
        .cta {
            width:100%;
        }
    }
}
