@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600");
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: 0 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  background: #EEE;
  line-height: 1.4rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gibson,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #001A33; }

h2 {
  font-size: 2rem;
  margin: 1rem 0; }

:focus {
  outline-color: transparent;
  outline-style: none; }

h2 + p {
  margin: 0 0 2rem; }

a {
  text-decoration: none;
  color: #007FFF;
  padding: 0 0 0.2rem;
  font-weight: 700; }

a:hover {
  color: #007FFF; }

pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 0.875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal; }

code {
  color: #007FFF; }

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-nav {
  box-sizing: border-box;
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background: 0 0; }

.page {
  z-index: 0;
  background: #EEE; }

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem; }

.page-features {
  width: 100%;
  background: #001a33;
  overflow: scroll; }

.menu-button {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.45rem;
  height: 3rem;
  width: 3rem;
  background: #FFF;
  border: 1px solid transparent;
  user-select: none; }

.menu-button:hover {
  border: 1px solid #007FFF;
  border-radius: 2px; }

.menu-button:active {
  background: #EEE;
  border: 1px solid transparent; }

.menu-button-icon {
  width: 2rem;
  height: 2rem; }

.slide-menu {
  display: block;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 250px; }

.menu {
  box-sizing: border-box;
  padding-bottom: 5rem;
  background: #001a33; }

.menu-header {
  box-sizing: border-box;
  padding: 3rem 3rem 0;
  color: #eee; }

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.menu-list-item {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #007FFF;
  background: 0 0;
  transition: all 0.2s ease-in; }

.menu-link {
  box-sizing: border-box;
  padding-left: 3rem;
  display: block;
  color: #007FFF;
  transition: color 0.2s ease-in; }

.menu-link:hover {
  color: #3298ff;
  border-bottom: 0; }

.link-top {
  align-self: flex-end; }

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 11rem;
  padding: 0 4rem;
  margin: 1rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #007FFF;
  border-radius: 2px;
  color: #007FFF;
  font-size: 1.25rem;
  transition: background-color,.15s; }

.button:hover {
  background: #39F;
  border-color: #39F;
  color: #FFF;
  text-shadow: 0 1px #007FFF; }

.button:active {
  background: #007FFF;
  color: #FFF;
  border-top: 2px solid #06C; }

.box,
.box-first,
.box-large,
.box-nested,
.box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff; }

.box-row {
  margin-bottom: 1rem; }

.box-first {
  background: #06C;
  border-color: #007FFF; }

.box-nested {
  background: #036;
  border-color: #007FFF; }

.box-large {
  height: 8rem; }

.box-container {
  box-sizing: border-box;
  padding: 0.5rem; }

.page-footer {
  box-sizing: border-box;
  padding-bottom: 3rem; }

.tag {
  color: #000;
  font-weight: 400; }

.end {
  text-align: end; }

.invisible-xs {
  display: none;
  visibility: hidden; }

.visible-xs {
  display: block;
  visibility: visible; }

@media only screen and (min-width: 48rem) {
  body {
    font-size: 16px; }
  .slide-menu {
    width: 25%; }
  .hero-headline {
    font-size: 6rem;
    margin-bottom: 2rem; }
  .hero-copy {
    font-size: 1.25rem;
    margin-bottom: 2rem; }
  .box,
  .box-first,
  .box-large,
  .box-nested,
  .box-row {
    padding: 1rem; }
  .invisible-md {
    display: none;
    visibility: hidden; }
  .visible-md {
    display: block;
    visibility: visible; } }

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 31.23333333%;
    flex-basis: 31.23333333%;
    max-width: 31.23333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

* {
  font-family: 'Overlock', sans-serif; }

body {
  background: #efefef;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1A1A1A;
  font-family: 'Petit Formal Script', sans-serif; }

h3 {
  line-height: 35px; }

img {
  width: 100%; }

main {
  min-height: 95vh; }

footer {
  display: flex;
  min-height: 150px;
  align-items: center; }
  @media only screen and (max-width: 750px) {
    footer div {
      text-align: center; }
      footer div:first-of-type {
        margin-top: 15px; } }
  footer .ribbon-container {
    width: 100%; }

form label:not(:first-of-type), form label:not(:nth-of-type(2)) {
  display: block;
  margin-top: 5px; }

form button {
  margin-top: 15px;
  padding: 15px 30px;
  background-color: #1A1A1A;
  color: white;
  border: none; }

.responded {
  color: green; }

.checking, .unchecked {
  color: #FF8C00; }

.timeout {
  color: red; }

table {
  width: 100%; }
  table tr td {
    text-align: center; }
  table tr:nth-of-type(odd) {
    background-color: #fff; }

.card {
  background-color: #f9f9f9;
  margin-right: 15px;
  margin-top: 15px;
  padding: 20px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  border-radius: 3px; }
  .card:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2); }
  .card .bold {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px; }
  .card .semiBold {
    font-weight: 600; }

.cardContainer {
  width: 90%;
  margin: 0 auto; }
  .cardContainer .filter ul {
    margin-left: 0;
    padding-left: 0; }
    .cardContainer .filter ul li {
      display: inline-block; }
      .cardContainer .filter ul li a {
        padding: 15px 30px;
        background-color: #1A1A1A;
        color: white;
        transition: ease background-color 0.3s; }
        .cardContainer .filter ul li a.active {
          color: #1A1A1A;
          padding: 13px 28px;
          background-color: transparent;
          transition: ease background-color 0.3s;
          border: 2px solid #1A1A1A; }
  @media only screen and (min-width: 64em) {
    .cardContainer .col-md-3 {
      max-width: 24%;
      flex-basis: 24%; } }
  .cardContainer .grid-item {
    width: 88% !important;
    max-width: 88% !important;
    float: left; }
    @media (min-width: 768px) {
      .cardContainer .grid-item {
        width: 30% !important;
        max-width: 30% !important; } }
    .cardContainer .grid-item:after {
      clear: both;
      content: ''; }
  .cardContainer .card .cardImage {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto 15px; }

.self-middle {
  align-self: center; }

.center {
  text-align: center; }

.heroOverlay {
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.hero {
  display: flex;
  align-items: center;
  height: 45vh;
  min-width: 100%;
  justify-content: center;
  background-color: #A01D26;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  z-index: -1; }
  .hero img {
    width: 50vw; }
  @media screen and (max-width: 600px) {
    .hero img {
      width: 100vw; } }
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 auto;
    z-index: 2;
    padding: 30px; }
    @media screen and (max-width: 600px) {
      .hero h1 {
        font-size: 32px; } }
  .hero h2 {
    font-weight: lighter; }
  .hero h1,
  .hero h2 {
    text-align: center;
    color: #f9f9f9; }

.mav {
  width: 100%;
  height: 45px;
  background-color: #1A1A1A;
  z-index: 6;
  position: fixed; }
  @media only screen and (min-width: 750px) {
    .mav {
      display: none !important; } }
  .mav i {
    float: right;
    color: white;
    padding: 7px;
    font-size: 25px;
    margin-right: 15px;
    align-self: center;
    cursor: pointer; }
    .mav i::after {
      content: '';
      clear: both; }

.show {
  position: fixed;
  height: 100vh !important;
  width: 100vw;
  background-color: #1A1A1A;
  z-index: 5;
  display: flex;
  transition: height ease 0.4s; }

.mav-menu {
  height: 0;
  overflow: hidden;
  transition: height ease 0.1s; }
  .mav-menu ul {
    margin-top: 55px;
    width: 100vw; }
    .mav-menu ul li {
      display: block;
      width: 200px;
      margin: 15px auto;
      font-size: 30px;
      line-height: 32px; }
      .mav-menu ul li ul {
        transition: ease all 0.3s;
        margin-top: 0;
        height: 0;
        overflow: hidden;
        width: auto; }
        .mav-menu ul li ul.open {
          height: 100%;
          transition: ease all 0.3s; }
      .mav-menu ul li a {
        color: white; }

/* The Modal (background) */
.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */ }
  .modal.show {
    display: block; }

/* Modal Content/Box */
.modal-content {
  background-color: #F4F4EF;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  margin-bottom: 10px; }

.close:focus,
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.modal {
  top: -5000px; }
  .modal.show {
    top: 0;
    transition: top ease .3s; }
  .modal .modal-content div:not(first-child) {
    margin-top: 15px; }
  .modal .modal-content span {
    font-family: 'Petit Formal Script', sans-serif;
    font-size: 14px;
    font-weight: bold; }

nav {
  top: 0; }

nav {
  z-index: 3;
  position: fixed;
  width: 81%;
  margin-top: 50px;
  margin-left: -10px;
  padding-right: 6px;
  line-height: 20px;
  background-color: #336B87;
  color: #1A1A1A;
  min-height: 40px; }
  @media screen and (max-width: 750px) {
    nav {
      width: 84%;
      padding-right: 4px; } }
  nav:after, nav:before {
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: 10px solid transparent; }
  nav:before {
    left: 0;
    border-right: 10px solid #254e62; }
  nav:after {
    right: 0;
    border-left: 10px solid #254e62; }
  nav .show-xs {
    display: none !important; }
    @media screen and (max-width: 750px) {
      nav .show-xs {
        margin: 10px 15px 0;
        color: white;
        text-align: right;
        display: block !important; } }
  nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 15px; }
    nav ul li {
      display: inline-block;
      padding-bottom: 10px; }
      @media screen and (max-width: 750px) {
        nav ul li {
          display: none !important; } }
      nav ul li:hover {
        transition: ease all .3s;
        background-color: #1e3f4f; }
      nav ul li ul {
        opacity: 0;
        transition: opacity ease 0.4s; }
        nav ul li ul li {
          display: none; }
      nav ul li a {
        position: relative;
        display: inline-block;
        margin: 10px 15px 0;
        outline: none;
        color: #F4F4EF;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 400; }
        nav ul li a:after {
          position: absolute;
          top: 32px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #763626;
          z-index: 5;
          content: '';
          opacity: 0;
          -webkit-transition: height 0.3s, opacity 0.2s, -webkit-transform 0.1s;
          -moz-transition: height 0.3s, opacity 0.2s, -moz-transform 0.1s;
          transition: height 0.3s, opacity 0.2s, transform 0.1s;
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          transform: translateY(-10px); }
      nav ul li:hover a {
        color: #dfdfd1; }
  nav ul li:hover ul {
    margin-top: 10px;
    margin-left: 14px;
    position: absolute;
    opacity: 1; }
    nav ul li:hover ul li {
      display: block;
      background-color: #1A1A1A;
      animation-delay: 0.2s;
      transition: opacity ease 5.1s;
      transition: background-color ease 0.2s;
      transition: opacity ease 0.2s; }
      nav ul li:hover ul li:hover {
        background-color: #0d0d0d;
        transition: background-color ease 0.2s; }
      nav ul li:hover ul li a:after {
        display: none; }

.container {
  width: 80%;
  box-sizing: border-box;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.6); }

.vertical-cta {
  display: flex;
  width: 100%;
  background-color: #fff; }
  @media screen and (max-width: 750px) {
    .vertical-cta {
      flex-wrap: wrap; } }
  .vertical-cta .cta {
    cursor: pointer;
    background-color: #f8f8f8;
    width: 25%;
    height: 300px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px #1A1A1A solid;
    transition: ease width .3s;
    position: relative; }
    .vertical-cta .cta:before {
      content: '';
      background-color: #90AFC5;
      position: absolute;
      width: 100%;
      height: 20px;
      top: 0; }
    .vertical-cta .cta:nth-of-type(even):before {
      background-color: #336B87; }
    .vertical-cta .cta .cta-title {
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      font-size: 20px; }
      .vertical-cta .cta .cta-title i {
        margin-top: -20px;
        font-size: 40px;
        margin-bottom: 20px; }
    .vertical-cta .cta .cta-content {
      width: 0;
      height: 0;
      overflow: hidden; }
    .vertical-cta .cta.open {
      display: flex;
      flex-wrap: wrap;
      transition: ease width .3s;
      width: 100%; }
      .vertical-cta .cta.open .cta-title {
        transition: ease transform, font-size .3s;
        transform: rotate(0deg);
        font-size: 20px;
        margin: 15px auto 15px; }
        .vertical-cta .cta.open .cta-title i {
          margin-top: 0;
          margin-bottom: 5px; }
      .vertical-cta .cta.open .cta-content {
        margin: 0 40px;
        width: 100%;
        height: 100%;
        transition: ease all .3s;
        overflow: initial; }
  @media only screen and (max-width: 750px) {
    .vertical-cta .cta {
      width: 100%; } }

.horizontal-cta {
  background-color: #763626;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  color: #F4F4EF; }
  .horizontal-cta .overlay {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .horizontal-cta h2 {
    z-index: 3;
    text-align: center;
    color: #F4F4EF;
    line-height: 110%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px; }
    .horizontal-cta h2 .fa-user-check {
      margin-left: 20px;
      font-size: 80px;
      margin-bottom: 50px; }
  .horizontal-cta .internal {
    min-height: 200px;
    width: 100%;
    z-index: 3;
    text-align: left;
    margin: 20px 40px 60px; }
    .horizontal-cta .internal input {
      width: 90%;
      border: none;
      max-width: 500px;
      padding: 10px 20px;
      margin: 0 auto;
      display: block; }
    .horizontal-cta .internal .btn {
      display: inline-block;
      margin-top: 20px; }

.stats-cta {
  background-color: #f8f8f8;
  padding: 30px 0 60px; }
  .stats-cta i {
    font-size: 40px;
    display: block;
    width: auto;
    text-align: center;
    margin: 20px 0;
    color: #763626; }
  .stats-cta span {
    display: block;
    text-align: center;
    font-size: 40px; }
    .stats-cta span span {
      margin-top: 10px;
      font-size: 30px;
      color: #336B87; }

.btn {
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 10px 20px; }

.btn-accent {
  background-color: #763626;
  color: #F4F4EF; }
  .btn-accent:hover {
    background-color: #4f241a;
    color: #dfdfd1;
    transition: ease all .2s; }
