.card {
    background-color: #f9f9f9;
    margin-right: 15px;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    border-radius: 3px;

    &:hover {
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .bold {
        font-weight: 800;
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
    }

    .semiBold {
        font-weight: 600;
    }
}

.cardContainer {
    width: 90%;
    margin: 0 auto;

    .filter {
        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                display: inline-block;

                a {
                    padding: 15px 30px;
                    background-color: $page_font;
                    color: white;
                    transition: ease background-color 0.3s;

                    &.active {
                        color: $page_font;
                        padding: 13px 28px;
                        background-color: transparent;
                        transition: ease background-color 0.3s;
                        border: 2px solid $page_font;
                    }
                }
            }
        }
    }
    @media only screen and (min-width:64em) {
        .col-md-3 {
            max-width: 24%;
            flex-basis: 24%;
        }
    }

    .grid-item {
        width: 88% !important;
        max-width: 88% !important;
        float: left;
        @media (min-width: 768px) {
            width: 30% !important;
            max-width: 30% !important;
        }

        &:after {
            clear: both;
            content: '';
        }
    }

    .card {
        .cardImage {
            display: block;
            width: 100%;
            height: 300px;
            margin: 0 auto 15px;
        }
    }
}
