* {
    font-family: 'Overlock', sans-serif;
}

body {
    background: #efefef;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $page_font;
    font-family: 'Petit Formal Script', sans-serif;
}

h3 {
    line-height: 35px;
}

img {
    width: 100%;
}

main {
    min-height: 95vh;
}

footer {
    display: flex;
    min-height: 150px;
    align-items: center;
    @media only screen and (max-width:750px) {
        div {
            text-align: center;

            &:first-of-type {
                margin-top: 15px;
            }
        }
    }

    .ribbon-container {
        width: 100%;
    }
}

form {
    label {
        &:not(:first-of-type),
        &:not(:nth-of-type(2)) {
            display: block;
            margin-top: 5px;
        }
    }

    button {
        margin-top: 15px;
        padding: 15px 30px;
        background-color: $page_font;
        color: white;
        border: none;
    }
}
.responded {
    color:green;
}
.checking,.unchecked {
    color:#FF8C00;
}
.timeout {
    color:red;
}


table {
    width:100%;
    tr {
        td{
            text-align: center;
        }
        &:nth-of-type(odd){
            background-color: #fff;
        }
    }
}
