.heroOverlay {
    position: relative;
    z-index: 0;
    background: rgba(0,0,0,.5);
    height:100%;
    width: 100%;
}
.hero {
    display: flex;
    align-items: center;
    height: 45vh;
    min-width: 100%;
    justify-content: center;
    background-color: $page_accent;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: -1;

    img {
        width:50vw;
    }
    @media screen and (max-width: 600px) {
        img {width:100vw}
    }
    h1 {
        font-size: 4rem;
        font-weight: bold;
        margin: 0 auto;
        z-index: 2;
        padding: 30px;
        @media screen and (max-width: 600px) {
            font-size: 32px;
        }
    }

    h2 {
        font-weight: lighter;
    }

    h1,
    h2 {
        text-align: center;
        color: #f9f9f9;
    }
}
