.mav {
    @media only screen and (min-width:750px) {
        display: none!important;
    }
    width: 100%;
    height: 45px;
    background-color: $page_font;
    z-index: 6;
    position: fixed;
    // top:0;
    i {
        float: right;
        color: white;
        padding: 7px;
        font-size: 25px;
        margin-right: 15px;
        align-self: center;
        cursor: pointer;

        &::after {
            content: '';
            clear: both;
        }
    }
}

.show {
    position: fixed;
    height: 100vh!important;
    width: 100vw;
    background-color: $page_font;
    z-index: 5;
    display: flex;
    transition: height ease 0.4s;
}

.mav-menu {
    height: 0;
    overflow: hidden;
    transition: height ease 0.1s;

    ul {
        margin-top: 55px;
        width: 100vw;

        li {
            display: block;
            width: 200px;
            margin: 15px auto;
            font-size: 30px;
            line-height: 32px;

            ul {
                &.open {
                    height: 100%;
                    transition: ease all 0.3s;
                }
                transition: ease all 0.3s;
                margin-top: 0;
                height: 0;
                overflow: hidden;
                width: auto;
            }

            a {
                color: white;
            }
        }
    }
}
