/* The Modal (background) */
.modal {
    // display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    // background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.3);
    /* Black w/ opacity */
    &.show {
        display: block;
    }
}
/* Modal Content/Box */
.modal-content {
    background-color: $page_background;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.close:focus,
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal {
    top:-5000px;
    &.show {
        top:0;
        transition: top ease .3s;
    }
    .modal-content {
        div {
            &:not(first-child) {
                margin-top:15px;
            }
        }
        span {
            font-family: 'Petit Formal Script', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
