nav {
    top: 0;
}

nav {
    z-index: 3;
    position: fixed;
    width: 81%;
    margin-top: 50px;
    margin-left: -10px;
    padding-right: 6px;
    line-height: 20px;
    background-color: $stone;
    color: $page_font;
    min-height: 40px;
    @media screen and (max-width: 750px) {
        width: 84%;
        padding-right:4px;
    }
    // Navbar ribbon
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 100%;
        border-bottom: 10px solid transparent;
    }

    &:before {
        left: 0;
        border-right: 10px solid darken($stone, 10%);
    }

    &:after {
        right: 0;
        border-left: 10px solid darken($stone, 10%);
    }
    // Navbar ribbon end.

    .show-xs {
        display: none!important;
        @media screen and(max-width: 750px) {
            margin: 10px 15px 0;
            color:white;
            text-align:right;
            display: block!important;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
        margin-right: 15px;

        li {
            @media screen and(max-width: 750px) {
                display: none!important;
            }
            display: inline-block;
            padding-bottom: 10px;

            &:hover {
                transition: ease all .3s;
                background-color: darken($stone, 15%);
            }

            ul {
                opacity: 0;
                transition: opacity ease 0.4s;

                li {
                    display: none;
                }
            }

            a {
                position: relative;
                display: inline-block;
                margin: 10px 15px 0;
                outline: none;
                color: $page_background;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 400;

                &:after {
                    position: absolute;
                    // top: 100%;
                    top: 32px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $foliage;
                    z-index: 5;
                    content: '';
                    opacity: 0;
                    -webkit-transition: height 0.3s, opacity 0.2s, -webkit-transform 0.1s;
                    -moz-transition: height 0.3s, opacity 0.2s, -moz-transform 0.1s;
                    transition: height 0.3s, opacity 0.2s, transform 0.1s;
                    -webkit-transform: translateY(-10px);
                    -moz-transform: translateY(-10px);
                    transform: translateY(-10px);
                }
            }

            &:hover {
                a {
                    color: darken($page_background, 10%);
                }
            }
        }
    }

    ul li:hover ul {
        margin-top: 10px;
        margin-left: 14px;
        position: absolute;
        opacity: 1;

        li {
            display: block;
            background-color: $page_font;
            animation-delay: 0.2s;
            transition: opacity ease 5.1s;
            transition: background-color ease 0.2s;
            transition: opacity ease 0.2s;

            &:hover {
                background-color: darken($page_font, 5%);
                transition: background-color ease 0.2s;
            }

            a {
                &:after {
                    display: none;
                }
            }
        }
    }
}
