// Navigation Colors:
$nav_bg: #20232A;
$nav_font : #F4F4EF;
$navBg: #1A1A1A;

// Page Defaults;
$page_background: #F4F4EF;
$page_font: #1A1A1A;
$page_accent: #A01D26;

$blackish: #232122;

$pewter: #7E675E;
$oceanic: #1B4B5A;

$mist: #90AFC5;
$stone: #336B87;
$shadow: #2A3132;
$foliage: #763626;

// Ribbon Vars
$Ribbonheight: 30px;
$Ribbonwidth: 200px
